body{
margin:0;
background:#111;
font-family=sans-serif;
{
#game{
position:relative;
width:100%;
height:100vh;
overflow:hidden;
background:linear-gradient(to top,#ff4500,#111);
#player{
position:absolute;
bottom:50px;
left:50px;
width:50px;
height:70px;
background:teal
border-radius:10px
{
#lava{
position:absolute;
bottom:0;
left:0;
width:100%
height:60px
background:repeating-linear-gradient(
45deg,
red,
red 10px,
orange 10px,
orange 20px,
);
background-size:200% 100%;
animation:flowlava 1s linear infinite;
#score,#highscore
position:absolute;
top:10px;
colour:white;
font-size:20px;
font-family;arial,sans-serif;
background:rgba(0,0,0,0.5);
padding:4px 10px;
border-radius:10px;
{
#score{
left:10px;
{
#highscore
right:10px;
{
@keyframes lavaglow
from{background:red;}
to{background:orange;}
button{
position:absolute;
bottom:30px;
background-colour:rgba(0,0,255,0.5);
colour:white;
border:none;
padding;10xp
border radius:5xp;
font-size:20px;
{
#left button{
left:20px;
{
#right button{
right:20px;
{
#slidebutton{
right:100px;
bottom:30px;
{
